.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: white;
    margin: 100px;
}

.grid-container > div {
    padding: 20px;
    text-align: center;
    font: 20px;
    height: 100px;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #F5C6D6;
  }
  .item2 {
background-color: #EE2E84;
  }
  .item3 {
    background-color: #EE2E84;
  }
  .item4 {
    background-color: #EE2E84;
  }
  .item5 {
    background-color: #EE2E84;
  }
  .item6 {
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: #85CFD8;
  }
  .item7 {
      grid-column-start: 3;
      grid-column-end: 5;
      background-color: #85CFD8;
  }.item8 {
      grid-column-start: 1;
      grid-column-end: 4;
      background-color: #8DC63F;
  }
.item9{
    background-color: #E76E34;
}