#header {
   color: white;
   text-align: center;
}

#square {
   background-color: rgb(0  , 0, 0);
   height: 300px;
   width: 300px;
   margin: 25px;
}

.instructions {
   color: white;
}

body {
   background-color: grey;
}